## Name: Rohan Sunil Sabale
## Roll No: 22CO101

# Data Wrangling, I

Perform the following operations using Python on any open source dataset (e.g., data.csv)
1. Import all the required Python Libraries.
2. Locate an open source data from the web (e.g., https://www.kaggle.com). Provide a clear description of the data and its
source (i.e., URL of the web site).
3. Load the Dataset into pandas dataframe.
4. Data Preprocessing: check for missing values in the data using pandas isnull(), describe() function to get some initial
statistics. Provide variable descriptions. Types of variables etc. Check the dimensions of the data frame.
5. Data Formatting and Data Normalization: Summarize the types of variables by checking the data types (i.e., character,
numeric, integer, factor, and logical) of the variables in the data set. If variables are not in the correct data type, apply proper
type conversions. ï¿½. Turn categorical variables into quantitative variables in Python.
In addition to the codes and outputs, explain every operation that you do in the above steps and explain everything that you do to
import/read/scrape the data set.



loc[]-> location by name(label)
iloc[]-> location by index

### 1. Import all the required Python Libraries.

In [1]:
import pandas as pd

### 2.Load the Dataset into pandas dataframe.

In [7]:
iris=pd.read_csv("Iris.csv")

### 3. Data Preprocessing:

In [ ]:
iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [13]:
iris.tail()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [15]:
iris.describe(include="all")

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
count,150.000000,150.000000,150.000000,150.000000,150.000000,150
unique,NaN,NaN,NaN,NaN,NaN,3
top,NaN,NaN,NaN,NaN,NaN,Iris-setosa
freq,NaN,NaN,NaN,NaN,NaN,50
mean,75.500000,5.843333,3.054000,3.758667,1.198667,NaN
std,43.445368,0.828066,0.433594,1.764420,0.763161,NaN
min,1.000000,4.300000,2.000000,1.000000,0.100000,NaN
25%,38.250000,5.100000,2.800000,1.600000,0.300000,NaN
50%,75.500000,5.800000,3.000000,4.350000,1.300000,NaN
75%,112.750000,6.400000,3.300000,5.100000,1.800000,NaN
max,150.000000,7.900000,4.400000,6.900000,2.500000,NaN

In [17]:
iris.shape

(150, 6)

In [23]:
iris.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [27]:
iris[0:3]

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa

In [29]:
iris.loc[0:2]

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa

In [ ]:
iris.loc[0:2,'Id':'PetalWidthCm']

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0   1            5.1           3.5            1.4           0.2
1   2            4.9           3.0            1.4           0.2
2   3            4.7           3.2            1.3           0.2

In [33]:
iris.iloc[1:3]

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa

In [35]:
iris.iloc[1:5,1:5]

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
1            4.9           3.0            1.4           0.2
2            4.7           3.2            1.3           0.2
3            4.6           3.1            1.5           0.2
4            5.0           3.6            1.4           0.2

### check for missing values in the data using pandas isnull()

In [37]:
iris.isnull()

        Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0    False          False         False          False         False    False
1    False          False         False          False         False    False
2    False          False         False          False         False    False
3    False          False         False          False         False    False
4    False          False         False          False         False    False
..     ...            ...           ...            ...           ...      ...
145  False          False         False          False         False    False
146  False          False         False          False         False    False
147  False          False         False          False         False    False
148  False          False         False          False         False    False
149  False          False         False          False         False    False

[150 rows x 6 columns]

In [39]:
iris.isna()

        Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0    False          False         False          False         False    False
1    False          False         False          False         False    False
2    False          False         False          False         False    False
3    False          False         False          False         False    False
4    False          False         False          False         False    False
..     ...            ...           ...            ...           ...      ...
145  False          False         False          False         False    False
146  False          False         False          False         False    False
147  False          False         False          False         False    False
148  False          False         False          False         False    False
149  False          False         False          False         False    False

[150 rows x 6 columns]

In [41]:
iris.isnull().any()

Id               False
SepalLengthCm    False
SepalWidthCm     False
PetalLengthCm    False
PetalWidthCm     False
Species          False
dtype: bool

In [43]:
iris.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [45]:
iris.SepalLengthCm.isnull().sum()

0

### 5. Data Formatting and Data Normalization:

In [56]:
iris.dtypes

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

In [58]:
iris.SepalLengthCm=iris.SepalLengthCm.astype("int")

In [ ]:
iris.dtypes

Id                 int64
SepalLengthCm      int32
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

### Data Normalization

In [62]:
import sklearn

In [64]:
from sklearn import preprocessing

In [67]:
iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1              5           3.5            1.4           0.2  Iris-setosa
1   2              4           3.0            1.4           0.2  Iris-setosa
2   3              4           3.2            1.3           0.2  Iris-setosa
3   4              4           3.1            1.5           0.2  Iris-setosa
4   5              5           3.6            1.4           0.2  Iris-setosa

In [ ]:
min_max_scaler = preprocessing.MinMaxScaler() #min-max scalar

In [71]:
x=iris.iloc[:,:4] #separte input from dataset

In [73]:
x

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm
0      1              5           3.5            1.4
1      2              4           3.0            1.4
2      3              4           3.2            1.3
3      4              4           3.1            1.5
4      5              5           3.6            1.4
..   ...            ...           ...            ...
145  146              6           3.0            5.2
146  147              6           2.5            5.0
147  148              6           3.0            5.2
148  149              6           3.4            5.4
149  150              5           3.0            5.1

[150 rows x 4 columns]

In [75]:
x_scaled = min_max_scaler.fit_transform(x) # Create an object to transform the data to fit minmax processor

In [77]:
df_normalized = pd.DataFrame(x_scaled) #normalized data

In [79]:
df_normalized

            0         1         2         3
0    0.000000  0.333333  0.625000  0.067797
1    0.006711  0.000000  0.416667  0.067797
2    0.013423  0.000000  0.500000  0.050847
3    0.020134  0.000000  0.458333  0.084746
4    0.026846  0.333333  0.666667  0.067797
..        ...       ...       ...       ...
145  0.973154  0.666667  0.416667  0.711864
146  0.979866  0.666667  0.208333  0.677966
147  0.986577  0.666667  0.416667  0.711864
148  0.993289  0.666667  0.583333  0.745763
149  1.000000  0.333333  0.416667  0.694915

[150 rows x 4 columns]

### 6. Turn categorical variables into quantitative variables in Python.

There are many ways to convert categorical data into numerical data. Here the three most used methods are discussed.

### i. Label Encoding:

Label Encoding refers to converting the labels into a numeric form so as to convert them into the machine-readable form. It is an
important preprocessing step for the structured dataset in supervised learning.

In [85]:
from sklearn import preprocessing

In [87]:
iris['Species'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [89]:
label_encoder = preprocessing.LabelEncoder()

In [91]:
iris['Species']= label_encoder.fit_transform(iris['Species'])

In [93]:
iris['Species'].unique()

array([0, 1, 2])

### Conclusion

In this way we have explored the functions of the python library for Data Preprocessing, Data Wrangling Techniques and How to
Handle missing values on Iris Dataset.

In addition to the codes and outputs, explain every operation that you do in the above steps and explain everything that you do to
import/read/scrape the data set.